@model Carro

@{
    ViewData["Title"] = "Cadastro de Carro";
}

<h1>Cadastro de Carro</h1>

<mensagem texto="@TempData["msg"]"></mensagem>

<form asp-action="cadastrar">
    <!--Adicionar o conteúdo do arquivo _Form.cshtml-->
    <partial name="_Form"/>
    <botao></botao>
    <a asp-action="index" class="btn btn-dark">Lista de Carros</a>
</form>