@model Carro

<h1>Edição de Carro</h1>

<mensagem texto="@TempData["msg"]"></mensagem>

<form asp-action="editar">
    <input asp-for="Codigo"/>
    <div class="mb-3">
        <label asp-for="Modelo"></label>
        <input asp-for="Modelo" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="Ano"></label>
        <input asp-for="Ano" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="Valor"></label>
        <input asp-for="Valor" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="Tipo"></label>
        <input asp-for="Tipo" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="Marca"></label>
        <select asp-for="Marca" class="form-select"
            asp-items="@ViewBag.marcas">
            <option>Selecione</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="Combustivel"></label>
        <select asp-for="Combustivel" class="form-select"
                asp-items="@Html.GetEnumSelectList<Combustivel>()">
            <option>Selecione</option>
        </select>
    </div>
    <div class="mb-3">
        <input asp-for="TetoSolar"/>
        <label asp-for="TetoSolar"></label>
    </div>
    <botao texto="Editar"></botao>
    <a asp-action="index" class="btn btn-light">Cancelar</a>
</form>