@{
    ViewData["Title"] = "Home Page";
}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Voos</h5>
    <h6 class="card-subtitle mb-2 text-muted">Viagens</h6>
    <p class="card-text">Total de Voos: @ViewBag.total </p>
    <a asp-action="cadastrar" asp-controller="voo" class="card-link">Cadastrar</a>
    <a asp-action="index" asp-controller="voo" class="card-link">Listar</a>
  </div>
</div>
