@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <!--Link para a página de cadastro de carro-->
    <a asp-controller="carro" asp-action="cadastrar" >Cadastro de Carro</a>
</div>
